body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
#rot{
    transform:rotate(20deg)

}
#grad1{
    background-color: burlywood;
    background-image: linear-gradient(brown,red);
    background-image: conic-gradient(burlywood,brown,red);
}
#grad2{
    height: 70px;
    background-color: burlywood;
    background-image: linear-gradient(to bottom,burlywood 0%,brown 100%);
}
#ml{
    height: 70x;
    background-color: burlywood;
    background-image: linear-gradient(to bottom,burlywood 0%,brown 100%);
}
main h2{
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}
main p{
    color: #666;
}
main img{
    max-width: 100%;
    height:auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #333;

}